<html>
<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
<style>
	body {
		font-family: 'Noto Serif', serif;
		font-size: 2.0rem;
		line-height: 1.1em;
		color: #3A4145;
		margin-left: 25%;
		margin-right: 25%;
		margin-top: 10%; 
	}

	h1 {
	    font-size: 3rem;
	    line-height: 1.2em;
	    letter-spacing: -2px;
	    text-indent: -3px;
	}

	h3 {
	    font-size: 2rem;
	    line-height: 1.2em;
	    letter-spacing: -1px;
	    text-indent: -2px;
	}

	p {
		font-size: 1.2rem;
	}

	a {
		color: #3A4145;
		text-decoration: none;
	}

	a:hover {
		color: #888;
	}

	a:visited {
	}

</style>

<h1>D3.js Tutorial</h1>

<h3>
<a href="http://chimera.labs.oreilly.com/books/1230000000345/index.html">Interactive Data Visualisation For The Web</a>
</h3>


<p>
- <a href="/chap5">Chapter 5 : Basic Styling Of Individual Elements</a><br />
- <a href="/chap6">Chapter 6 : SVG Circles, Bar Charts, Labels.  Elements Reflect Data Values.</a><br />
- <a href="/chap7">Chapter 7 : Dynamic Scaling : Chart Responds To Canvas And Data</a><br />
- <a href="/chap8">Chapter 8 : Axes And Random Data Generation</a><br />
- <a href="/chap9">Chapter 9 : Part 1 : Ordinal Scale, Transitions, Dynamic Data Updates</a><br />
- <a href="/chap9_2">Chapter 9 : Part 2 : Dynamic Axis Generation, Clipping Paths</a><br />
- <a href="/chap9_3">Chapter 9 : Part 3 : Subtract Or Add Data And Update Chart</a><br />
- <a href="/chap10">Chapter 10 : Part 1 : Visual Interactivity Through CSS Hovers</a><br />
- <a href="/chap10_2">Chapter 10 : Part 2 : Interactivity And Sorting Through Javascript</a><br />
- <a href="/chap10_3">Chapter 10 : Part 3 : Sort, Resort, And Delay Element-Level Transitions</a><br />
- <a href="/chap10_4">Chapter 10 : Part 4 : Default Browser Tooltips On Hover</a><br />
- <a href="/chap10_5">Chapter 10 : Part 5 : Tooltips Via SVG</a><br />
- <a href="/chap10_6">Chapter 10 : Part 6 : Tooltips Via CSS And Div Elements</a><br />
- <a href="/chap11">Chapter 11 : Part 1 : The Pie Or Ring Chart Layout</a><br />
- <a href="/chap11_2">Chapter 11 : Part 2 : The Stack Layout</a><br />
- <a href="/chap11_3">Chapter 11 : Part 3 : The Force Layout</a><br />
- <a href="/chap12">Chapter 12 : Part 1 : Introducing GeoJSON Data</a><br />
- <a href="/chap12_2">Chapter 12 : Part 2 : Integrating GeoJSON Into A Chloropleth</a><br />
- <a href="/chap12_3">Chapter 12 : Part 3: Annotating The Chloropleth</a><br /></p>

</html>